/* css reset */
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

@font-face {
  font-family: 'Varela';
  src: url("../fonts/Varela-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Fuzzy Bubbles';
  src: url("../fonts/FuzzyBubbles-Regular.ttf") format("truetype"); }

html {
  font-family: 'Varela','Arial Narrow Bold', sans-serif;
  color: white; }

.h1_categorias {
  text-transform: uppercase;
  font-size: 20px;
  padding: 30px 0px 30px 0px;
  text-align: center; }

.font_nubes {
  font-family: 'Fuzzy Bubbles';
  font-size: 20px;
  color: white; }

/*--BRRA DE NAVEGAION--*/
nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  nav #check {
    display: none; }
    nav #check:checked ~ .nav__menu {
      height: 100vh; }
      nav #check:checked ~ .nav__menu li {
        display: block; }
  nav .bar__btn {
    font-size: 35px;
    margin-right: 30px;
    cursor: pointer;
    z-index: 3;
    color: white;
    position: fixed;
    background: #96cf11;
    border-radius: 50%;
    padding: 0 10px 0 10px; }
  nav .nav__menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 0px;
    text-align: center;
    transition: all 0.5s;
    z-index: 2; }
    nav .nav__menu li {
      display: none;
      line-height: 40px;
      margin: 40px 0;
      transition: all 0.5s; }
    nav .nav__menu a {
      color: white;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600; }
      nav .nav__menu a.active {
        color: #009da8;
        transition: 0.5s; }
      nav .nav__menu a:hover {
        color: #96cf11;
        transition: 0.5s; }

html::before {
  content: "";
  background-size: contain;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  background-image: url("../imagenes/background_html_geometric-cuadrado-02.svg");
  z-index: -2;
  width: 100%; }

.background__section {
  position: relative;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background: #bebebe;
  background: linear-gradient(0deg, rgba(190, 190, 190, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%); }

.nav__menu {
  background: dimgray; }

.background__h1 {
  background-color: #009da8;
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  z-index: 2; }

.background__p {
  background: dimgray, 0.8; }

.background__division {
  height: 60px;
  background: #96cf11; }

.background__presentacion {
  position: relative;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(77, 77, 77, 0.75) 28%, rgba(77, 77, 77, 0.75) 68%, rgba(19, 19, 19, 0.85) 98%); }

footer {
  background: #96cf11;
  height: 60px;
  text-align: center;
  padding: 20px;
  font-size: 18px; }

.intro {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .intro .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 20px; }
    .intro .name .h1_title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 35px;
      text-align: center; }
    .intro .name hr {
      border: 1px solid white;
      height: 0;
      width: 320px; }
    .intro .name .h2_title {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: lighter; }
  .intro .container__nube {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 80px; }
    .intro .container__nube .text_nubes {
      font-weight: bold;
      font-family: "Fuzzy Bubbles";
      color: white;
      font-size: 20px;
      z-index: 1;
      width: 160px;
      height: auto;
      position: absolute;
      text-align: center;
      left: 30px;
      top: 140px; }
      .intro .container__nube .text_nubes #span_genial {
        font-size: 25px; }
    .intro .container__nube .nube, .intro .container__nube .funy2 > div, .intro .container__nube .funy3 > div, .intro .container__nube .funy4 > div, .intro .container__nube .funy5 > div, .intro .container__nube .funy6 > div, .intro .container__nube .funy7 > div {
      width: 220px;
      height: auto;
      position: absolute;
      left: 10px;
      top: 110px;
      transform: scaleX(-1); }
    .intro .container__nube .avatar, .intro .container__nube .funy2 > img, .intro .container__nube .funy3 > img, .intro .container__nube .funy4 > img, .intro .container__nube .funy5 > img, .intro .container__nube .funy6 > img, .intro .container__nube .funy7 > img {
      width: 100%; }

.text__intro {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .text__intro #h1__intro {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center; }
  .text__intro .h2__intro {
    margin: 20px 0px 20px 0px;
    text-align: center; }
  .text__intro .p__intro {
    margin: 0px 30px 20px 30px;
    text-align: justify; }

.color_end {
  color: #96cf11; }

.funy2 > small {
  left: 205px;
  bottom: 190px; }

.funy2 > div {
  left: 160px;
  bottom: 160px; }

.funy3 {
  margin-top: 120px; }
  .funy3 > small {
    left: 230px;
    bottom: 200px; }
  .funy3 > div {
    left: 180px;
    bottom: 150px; }

.funy4 {
  margin-top: 50px; }
  .funy4 > small {
    left: 240px;
    bottom: 210px; }
  .funy4 > div {
    left: 190px;
    bottom: 180px; }

.funy5 > small {
  left: 220px;
  bottom: 140px; }

.funy5 > div {
  left: 170px;
  bottom: 110px; }

.funy6 > small {
  left: 220px;
  bottom: 140px; }

.funy6 > div {
  left: 170px;
  bottom: 110px; }

.funy7 {
  margin-top: 90px; }
  .funy7 > small {
    left: 220px;
    bottom: 160px; }
  .funy7 > div {
    left: 170px;
    bottom: 110px; }

.conocimientos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .conocimientos .progresBar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    .conocimientos .progresBar__container .progress {
      position: relative;
      width: 300px;
      height: 20px;
      background: grey;
      border-radius: 5px;
      overflow: hidden;
      margin: 5px;
      border: 2px solid white; }
      .conocimientos .progresBar__container .progress .progress__fill {
        width: 0%;
        height: 100%;
        background: #96cf11;
        transition: all 5s; }
      .conocimientos .progresBar__container .progress .progress__text {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translatey(-50%); }

.habilidades {
  display: flex;
  flex-direction: column; }
  .habilidades h1 {
    margin-bottom: 10px; }
  .habilidades p {
    text-align: justify;
    margin: 10px; }
  .habilidades div {
    padding: 5px;
    margin: 10px 25px 40px 25px;
    text-align: center;
    background-color: #B3B3B3;
    border-radius: 5px;
    border: 2px solid white; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px 20px 40px 20px;
  border-radius: 5px; }
  .container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    margin: 40px 5px 40px 5px;
    padding: 20px 20px 60px 20px;
    border: 2px solid white;
    background-color: #B3B3B3; }

.porcent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: dimgray;
  z-index: 3; }
  .porcent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; }
    .porcent .number h2 {
      font-weight: 700;
      font-size: 40px; }
      .porcent .number h2 span {
        color: white; }

.text_circulo {
  position: relative;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase; }

svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(-85deg) !important; }
  svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-linecap: round !important;
    transform: translate(5px, 5px); }

/*Claculo para simular el porcent*/
svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440; }

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 100) / 100);
  stroke: #96cf11; }

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #96cf11; }

#toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #96cf11;
  z-index: 5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }
  #toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    transform: translateY(-5px);
    transition: 0.2s; }
  #toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    transform: translateY(5px);
    transition: 0.2s; }

#toggle.active::before {
  transform: translateY(0px) rotate(45deg); }

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg); }

#sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: #009da8;
  transition: 0.5s;
  z-index: 1000; }
  #sidebar ul {
    margin-top: 50px; }
    #sidebar ul li {
      display: flex;
      flex-direction: column;
      list-style: none;
      width: 100%; }
      #sidebar ul li:hover {
        background: #96cf11; }
      #sidebar ul li a {
        width: 100%;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 1.3rem; }

#sidebar.active {
  left: 0px; }

.botonWhatsApp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2; }

#toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #96cf11;
  z-index: 5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }
  #toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    transform: translateY(-5px);
    transition: 0.2s; }
  #toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    transform: translateY(5px);
    transition: 0.2s; }

#toggle.active::before {
  transform: translateY(0px) rotate(45deg); }

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg); }

#sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: #009da8;
  transition: 0.5s;
  z-index: 1000; }
  #sidebar ul {
    margin-top: 50px; }
    #sidebar ul li {
      display: flex;
      flex-direction: column;
      list-style: none;
      width: 100%; }
      #sidebar ul li:hover {
        background: #96cf11; }
      #sidebar ul li a {
        width: 100%;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 1.3rem; }

#sidebar.active {
  left: 0px; }

.funy, .funy2, .funy3, .funy4, .funy5, .funy6, .funy7 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative; }
  .funy .avatar, .funy2 .avatar, .funy3 .avatar, .funy4 .avatar, .funy5 .avatar, .funy6 .avatar, .funy7 .avatar, .funy .funy2 > img, .funy2 > img, .funy3 .funy2 > img, .funy4 .funy2 > img, .funy5 .funy2 > img, .funy6 .funy2 > img, .funy7 .funy2 > img, .funy .funy3 > img, .funy2 .funy3 > img, .funy3 > img, .funy4 .funy3 > img, .funy5 .funy3 > img, .funy6 .funy3 > img, .funy7 .funy3 > img, .funy .funy4 > img, .funy2 .funy4 > img, .funy3 .funy4 > img, .funy4 > img, .funy5 .funy4 > img, .funy6 .funy4 > img, .funy7 .funy4 > img, .funy .funy5 > img, .funy2 .funy5 > img, .funy3 .funy5 > img, .funy4 .funy5 > img, .funy5 > img, .funy6 .funy5 > img, .funy7 .funy5 > img, .funy .funy6 > img, .funy2 .funy6 > img, .funy3 .funy6 > img, .funy4 .funy6 > img, .funy5 .funy6 > img, .funy6 > img, .funy7 .funy6 > img, .funy .funy7 > img, .funy2 .funy7 > img, .funy3 .funy7 > img, .funy4 .funy7 > img, .funy5 .funy7 > img, .funy6 .funy7 > img, .funy7 > img {
    border: none; }
  .funy .text, .funy2 .text, .funy3 .text, .funy4 .text, .funy5 .text, .funy6 .text, .funy7 .text, .funy .funy2 > small, .funy2 > small, .funy3 .funy2 > small, .funy4 .funy2 > small, .funy5 .funy2 > small, .funy6 .funy2 > small, .funy7 .funy2 > small, .funy .funy3 > small, .funy2 .funy3 > small, .funy3 > small, .funy4 .funy3 > small, .funy5 .funy3 > small, .funy6 .funy3 > small, .funy7 .funy3 > small, .funy .funy4 > small, .funy2 .funy4 > small, .funy3 .funy4 > small, .funy4 > small, .funy5 .funy4 > small, .funy6 .funy4 > small, .funy7 .funy4 > small, .funy .funy5 > small, .funy2 .funy5 > small, .funy3 .funy5 > small, .funy4 .funy5 > small, .funy5 > small, .funy6 .funy5 > small, .funy7 .funy5 > small, .funy .funy6 > small, .funy2 .funy6 > small, .funy3 .funy6 > small, .funy4 .funy6 > small, .funy5 .funy6 > small, .funy6 > small, .funy7 .funy6 > small, .funy .funy7 > small, .funy2 .funy7 > small, .funy3 .funy7 > small, .funy4 .funy7 > small, .funy5 .funy7 > small, .funy6 .funy7 > small, .funy7 > small {
    z-index: 1;
    width: 120px;
    height: auto;
    position: absolute;
    text-align: center;
    color: white; }
  .funy .nube, .funy2 .nube, .funy3 .nube, .funy4 .nube, .funy5 .nube, .funy6 .nube, .funy7 .nube, .funy .funy2 > div, .funy2 > div, .funy3 .funy2 > div, .funy4 .funy2 > div, .funy5 .funy2 > div, .funy6 .funy2 > div, .funy7 .funy2 > div, .funy .funy3 > div, .funy2 .funy3 > div, .funy3 > div, .funy4 .funy3 > div, .funy5 .funy3 > div, .funy6 .funy3 > div, .funy7 .funy3 > div, .funy .funy4 > div, .funy2 .funy4 > div, .funy3 .funy4 > div, .funy4 > div, .funy5 .funy4 > div, .funy6 .funy4 > div, .funy7 .funy4 > div, .funy .funy5 > div, .funy2 .funy5 > div, .funy3 .funy5 > div, .funy4 .funy5 > div, .funy5 > div, .funy6 .funy5 > div, .funy7 .funy5 > div, .funy .funy6 > div, .funy2 .funy6 > div, .funy3 .funy6 > div, .funy4 .funy6 > div, .funy5 .funy6 > div, .funy6 > div, .funy7 .funy6 > div, .funy .funy7 > div, .funy2 .funy7 > div, .funy3 .funy7 > div, .funy4 .funy7 > div, .funy5 .funy7 > div, .funy6 .funy7 > div, .funy7 > div {
    width: 200px;
    height: auto;
    position: absolute; }

.experiencia {
  display: flex;
  flex-direction: column;
  align-items: center; }

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
  z-index: 2; }
  .wrapper .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: white;
    left: 50%;
    top: 50px;
    transform: translateX(-50%); }
  .wrapper .row {
    display: flex; }
    .wrapper .row section {
      background: #B3B3B3;
      border-radius: 5px;
      width: calc(50% - 40px);
      padding: 20px;
      position: relative;
      border: 2px solid white; }
      .wrapper .row section:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background: white;
        top: 28px;
        z-index: -1;
        transform: rotate(45deg); }
  .wrapper .row-1 {
    justify-content: flex-start; }
  .wrapper .row-2 {
    justify-content: flex-end; }

.row-1 section:before {
  right: -7px; }

.row-1 section .icon {
  top: 15px;
  right: -60px; }

.row-2 section:before {
  left: -7px; }

.row-2 section .icon {
  top: 15px;
  left: -60px; }

.row section .icon {
  position: absolute;
  background: #96cf11;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 5px 0 rgba(0, 0, 0, 0.08), 0 5px 0 4px rgba(0, 0, 0, 0.05); }

.row section .details {
  display: flex;
  justify-content: space-between;
  align-content: flex-start; }
  .row section .details .title {
    font-size: 20px;
    font-weight: 600;
    width: 170px; }
  .row section .details span {
    font-size: 16px; }

.row section p {
  margin: 10px 0 17px 0;
  text-align: justify; }

.portafolio {
  display: flex;
  flex-direction: column; }
  .portafolio .proyectos {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    align-items: center;
    z-index: 1; }
    .portafolio .proyectos .img_portafolio {
      display: flex;
      text-align: center;
      color: white;
      width: 100%;
      margin-top: 10px;
      align-items: Center;
      justify-content: center; }
      .portafolio .proyectos .img_portafolio img {
        width: 100%; }

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; }
  .redes li {
    padding: 20px;
    text-align: center; }
    .redes li a {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .redes li a img {
        width: 50px;
        margin: 5px; }
      .redes li a span {
        margin: 5px;
        font-size: 50px; }

.background__animation {
  margin: 0;
  height: 100%;
  font-weight: 100;
  background: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.85) 0%, rgba(55, 55, 55, 0.75) 48%, rgba(19, 19, 19, 0.85) 100%); }

.light {
  position: absolute;
  width: 5px;
  height: 5px;
  opacity: 0.7;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  border-radius: 50%; }

.x1 {
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.x2 {
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  left: 15%; }

.x3 {
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  left: -15%; }

.x4 {
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  left: -34%; }

.x5 {
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
  left: -34%; }

.x6 {
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  left: -81%; }

.x7 {
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  left: -81%; }

.x8 {
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  left: 62%; }

.x9 {
  -webkit-animation: floatUp 6.1s infinite linear;
  -moz-animation: floatUp 6.1s infinite linear;
  -o-animation: floatUp 6.1s infinite linear;
  animation: floatUp 6.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: -62%; }

.x10 {
  -webkit-animation: floatUp 9.1s infinite linear;
  -moz-animation: floatUp 9.1s infinite linear;
  -o-animation: floatUp 9.1s infinite linear;
  animation: floatUp 9.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%; }

.x11 {
  -webkit-animation: floatUp 2.1s infinite linear;
  -moz-animation: floatUp 2.1s infinite linear;
  -o-animation: floatUp 2.1s infinite linear;
  animation: floatUp 2.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: -35%; }

.x12 {
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 73%; }

.x13 {
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  left: -73%; }

@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    top: 0vh;
    opacity: 0.8; }
  75% {
    opacity: 1; }
  100% {
    top: -100vh;
    opacity: 0; } }

@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px; }
  .wrapper .row {
    margin: 30px 0 3px 60px; }
    .wrapper .row section {
      width: 100%; }
  .row-1 section:before {
    left: -7px; }
  .row-1 section .icon {
    left: -60px; } }
