/* css reset */
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

@font-face {
  font-family: 'Varela';
  src: url("../fonts/Varela-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Fuzzy Bubbles';
  src: url("../fonts/FuzzyBubbles-Regular.ttf") format("truetype"); }

html {
  font-family: 'Varela','Arial Narrow Bold', sans-serif;
  color: white; }

.font_nubes {
  font-weight: bold;
  font-family: 'Fuzzy Bubbles';
  color: white;
  font-size: 20px; }

.h1_title {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center; }

.h2_title {
  text-transform: uppercase;
  font-size: 20px; }

.h1_categorias {
  text-transform: uppercase;
  font-size: 20px;
  padding: 30px 0px 30px 0px;
  text-align: center; }

/*--BRRA DE NAVEGAION--*/
nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  nav #check {
    display: none; }
    nav #check:checked ~ .nav__menu {
      height: 100vh; }
      nav #check:checked ~ .nav__menu li {
        display: block; }
  nav .bar__btn {
    font-size: 35px;
    margin-right: 30px;
    cursor: pointer;
    z-index: 3;
    color: white;
    position: fixed;
    background: rgba(29, 214, 238, 0.979);
    border-radius: 50%;
    padding: 0 10px 0 10px; }
  nav .nav__menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 0px;
    background: #B3B3B3;
    text-align: center;
    transition: all 0.5s;
    z-index: 2; }
    nav .nav__menu li {
      display: none;
      line-height: 40px;
      margin: 40px 0;
      transition: all 0.5s; }
    nav .nav__menu a {
      color: white;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600; }
      nav .nav__menu a.active {
        color: #c5fc01;
        transition: 0.5s; }
      nav .nav__menu a:hover {
        color: rgba(29, 214, 238, 0.979);
        transition: 0.5s; }

html {
  background: #4e4e4e;
  background: linear-gradient(201deg, #4e4e4e 0%, #747474 17%, #bbbbbb 39%, #bbbbbb 60%, #535353 83%, #525252 100%); }

body {
  position: relative;
  height: auto;
  width: 100%; }
  body::before {
    content: "";
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: contain;
    background-image: url("../imagenes/geometria_background_negro.svg");
    background-position: top center;
    opacity: 0.04;
    z-index: -1; }

.background__h1 {
  background-color: dimgray;
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  width: 100%; }

.intro {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .intro h1 {
    text-transform: uppercase;
    font-weight: bold; }
  .intro hr {
    border: 1px solid white;
    height: 0;
    width: 300px; }
  .intro h2 {
    text-transform: uppercase;
    font-weight: lighter; }
  .intro p {
    margin-top: 20px;
    padding: 40px;
    text-align: justify; }

.funy1 > small {
  left: 215px;
  bottom: 180px; }

.funy1 > div {
  left: 170px;
  bottom: 150px; }

.funy2 > small {
  left: 195px;
  bottom: 150px; }

.funy2 > div {
  left: 150px;
  bottom: 100px; }

.funy3 > small {
  left: 195px;
  bottom: 150px; }

.funy3 > div {
  left: 150px;
  bottom: 100px; }

.funy4 > small {
  left: 210px;
  bottom: 165px; }

.funy4 > div {
  left: 160px;
  bottom: 100px; }

.conocimientos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .conocimientos .progresBar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    .conocimientos .progresBar__container .progress {
      position: relative;
      width: 300px;
      height: 20px;
      background: grey;
      border-radius: 5px;
      overflow: hidden;
      margin: 5px; }
      .conocimientos .progresBar__container .progress .progress__fill {
        width: 0%;
        height: 100%;
        background: rgba(29, 214, 238, 0.979);
        transition: all 5s; }
      .conocimientos .progresBar__container .progress .progress__text {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translatey(-50%); }

.habilidades {
  display: flex;
  flex-direction: column; }
  .habilidades div {
    padding: 2px;
    margin: 10px;
    text-align: center;
    background-color: #B3B3B3;
    border-radius: 5px;
    border: 2px solid white; }

.funy, .funy1, .funy2, .funy3, .funy4 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative; }
  .funy .avatar, .funy1 .avatar, .funy2 .avatar, .funy3 .avatar, .funy4 .avatar, .funy .funy1 > img, .funy1 > img, .funy2 .funy1 > img, .funy3 .funy1 > img, .funy4 .funy1 > img, .funy .funy2 > img, .funy1 .funy2 > img, .funy2 > img, .funy3 .funy2 > img, .funy4 .funy2 > img, .funy .funy3 > img, .funy1 .funy3 > img, .funy2 .funy3 > img, .funy3 > img, .funy4 .funy3 > img, .funy .funy4 > img, .funy1 .funy4 > img, .funy2 .funy4 > img, .funy3 .funy4 > img, .funy4 > img {
    border: none; }
  .funy .text, .funy1 .text, .funy2 .text, .funy3 .text, .funy4 .text, .funy .funy1 > small, .funy1 > small, .funy2 .funy1 > small, .funy3 .funy1 > small, .funy4 .funy1 > small, .funy .funy2 > small, .funy1 .funy2 > small, .funy2 > small, .funy3 .funy2 > small, .funy4 .funy2 > small, .funy .funy3 > small, .funy1 .funy3 > small, .funy2 .funy3 > small, .funy3 > small, .funy4 .funy3 > small, .funy .funy4 > small, .funy1 .funy4 > small, .funy2 .funy4 > small, .funy3 .funy4 > small, .funy4 > small {
    z-index: 1;
    width: 120px;
    height: auto;
    position: absolute;
    text-align: center; }
  .funy .nube, .funy1 .nube, .funy2 .nube, .funy3 .nube, .funy4 .nube, .funy .funy1 > div, .funy1 > div, .funy2 .funy1 > div, .funy3 .funy1 > div, .funy4 .funy1 > div, .funy .funy2 > div, .funy1 .funy2 > div, .funy2 > div, .funy3 .funy2 > div, .funy4 .funy2 > div, .funy .funy3 > div, .funy1 .funy3 > div, .funy2 .funy3 > div, .funy3 > div, .funy4 .funy3 > div, .funy .funy4 > div, .funy1 .funy4 > div, .funy2 .funy4 > div, .funy3 .funy4 > div, .funy4 > div {
    width: 200px;
    height: auto;
    position: absolute; }

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
  transition: all 3s; }
  .wrapper .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: white;
    left: 50%;
    top: 20px;
    transform: translateX(-50%); }
  .wrapper .row {
    display: flex; }
    .wrapper .row section {
      background: #B3B3B3;
      border-radius: 5px;
      width: calc(50% - 40px);
      padding: 20px;
      position: relative;
      border: 2px solid white; }
      .wrapper .row section:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background: white;
        top: 28px;
        z-index: -1;
        transform: rotate(45deg); }
  .wrapper .row-1 {
    justify-content: flex-start; }
  .wrapper .row-2 {
    justify-content: flex-end; }

.row-1 section:before {
  right: -7px; }

.row-1 section .icon {
  top: 15px;
  right: -60px; }

.row-2 section:before {
  left: -7px; }

.row-2 section .icon {
  top: 15px;
  left: -60px; }

.row section .icon {
  position: absolute;
  background: rgba(29, 214, 238, 0.979);
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 5px 0 rgba(0, 0, 0, 0.08), 0 5px 0 4px rgba(0, 0, 0, 0.05); }

.row section .details {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .row section .details .title {
    font-size: 22px;
    font-weight: 600; }

.row section p {
  margin: 10px 0 17px 0; }

@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px; }
  .wrapper .row {
    margin: 30px 0 3px 60px; }
    .wrapper .row section {
      width: 100%; }
  .row-1 section:before {
    left: -7px; }
  .row-1 section .icon {
    left: -60px; } }

@media (max-width: 440px) {
  .wrapper .center-line {
    display: none; }
  .wrapper .row {
    margin: 10px 0; }
  .row section:before {
    display: none; }
  .row section .icon {
    display: none; } }
