.funy {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;

  .avatar {
    border: none;
  }

  .text {
    z-index: 1;
    width: 120px;
    height: auto;
    position: absolute;
    text-align: center;
    color: $color-white;
    
  }

  .nube {
    width: 200px;
    height: auto;
    position: absolute;
  }

  
}
