.background__section {
  background: rgb(190, 190, 190);
  background: linear-gradient(
    0deg,
    rgba(190, 190, 190, 1) 0%,
    rgba(32, 32, 32, 1) 100%
  );
 
  
}





.nav__menu {
  background: $color-grisOscuro;
}

body {
  position: relative;
  height: auto;
  width: 100%;
  background: rgb(190, 190, 190);
  background: linear-gradient(
    0deg,
    rgba(190, 190, 190, 1) 0%,
    rgba(32, 32, 32, 1) 100%
  );

  
  &::before {
    content: "";
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: contain;
    background-image: url("../imagenes/geometria_background_negro.svg");
    background-position: top center;
    
    opacity: 0.1;
    
    

  }
}

.background__h1 {
  background-color: $color-verde;
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  z-index:2;
}


