html {
  background: rgb(78, 78, 78);
  background: linear-gradient(
    201deg,
    rgba(78, 78, 78, 1) 0%,
    rgba(116, 116, 116, 1) 17%,
    rgba(187, 187, 187, 1) 39%,
    rgba(187, 187, 187, 1) 60%,
    rgba(83, 83, 83, 1) 83%,
    rgba(82, 82, 82, 1) 100%
  );
}

.nav__menu {
  
  background: $color-grisOscuro;
 
}

body {
  position: relative;
  height: auto;
  width: 100%;
  &::before {
    content: "";
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: contain;
    background-image: url("../imagenes/geometria_background_negro.svg");
    background-position: top center;
    opacity: 0.04;
    z-index: -1;
  }
}

.background__h1 {
  background-color: $color-grisOscuro;
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  width: 100%;
}
