.progress{
    position: relative;
    width: 210px;
    height: 30px;
    background: grey;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;

    .progress__fill{
        width: 0%;
        height: 100%;
        background:$color-turqueza ;
        transition: all 1s;
    }

    .progress__text{
        position: absolute;
        top:50%;
        right: 5px;
        transform: translatey(-50%);
    }
}