.section_animacion {
	background: linear-gradient(-45deg, #313131, #000000, #424242, #050505);
	background-size: 400% 400%;
	
	        animation: gradient 12s ease infinite;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}






