
.experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
  z-index: 2;
 
  .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: $color-white;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
   
  }
  .row {
    display: flex;
   
    section {
      background: $color-gris2;
      border-radius: 5px;
      width: calc(50% - 40px);
      padding: 20px;
      position: relative;
      border:2px solid $color-white;
      
      &:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background: $color-white;
        top: 28px;
        z-index: -1;
        transform: rotate(45deg);
      }
    }
  }
  .row-1 {
    justify-content: flex-start;
  }
  .row-2 {
    justify-content: flex-end;
  }
}
.row-1 {
  section {
    &:before {
      right: -7px;
    }
    .icon {
      top: 15px;
      right: -60px;
    }
  }
}
.row-2 {
  section {
    &:before {
      left: -7px;
    }
    .icon {
      top: 15px;
      left: -60px;
    }
  }
}
.row {
  section {
    .icon {
      position: absolute;
      background: $color-secundario;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      box-shadow: 0 0 0 4px $color-white,  inset 0 5px 0 rgba(0,0,0,0.08), 0 5px 0 4px rgba(0,0,0,0.05);
     
    }
    .details {
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
      
      
      .title {
        font-size: 20px;
        font-weight: 600;
        width: 170px;
      }
      span{
        font-size: 16px;
     


      }




    }





    p {
      margin: 10px 0 17px 0;
    }


    
  }

  
}






