.habilidades {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 30px;
  }

  div {
    padding: 5px;
    margin: 10px 25px 40px 25px;
    text-align: center;
    background-color: $color-gris2;
    border-radius: 5px;
    border: 2px solid $color-white;
  }
}

// .porcentaje {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 98vh;

// }
.container {
  // position: relative;

  display: flex;

  align-items: center;
  justify-content: center;

  margin-top: 20px 20px 40px 20px;

  border-radius: 5px;
  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    margin: 40px 5px 40px 5px  ;
    padding: 20px 20px 60px 20px ;
    border: 2px solid $color-white;
    background-color: $color-gris2;
  }
}
.porcent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  // box-shadow: inset 0 0 50px rgb(141, 12, 12);
  background: $color-grisOscuro;
  z-index: 3;

  .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    h2 {
      font-weight: 700;
      font-size: 40px;

      span {
        color: $color-white;
      }
    }
  }
}

.text_circulo {
  position: relative;

  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(-85deg) !important;

  circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: $color-white;
    stroke-width: 10;
    stroke-linecap: round !important;
    transform: translate(5px, 5px);
  }
}

/*Claculo para simular el porcent*/
svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 100) / 100);
  stroke: $color-secundario;
}
.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: $color-secundario;
}
