.habilidades{
    display: flex;
    flex-direction: column;

    h1{
        margin-bottom: 30px;
    }
    
    
   
    div{
        
        padding: 5px;
        margin: 20px 25px 20px 25px;
        
        text-align: center;
        background-color:$color-gris2 ;
        border-radius: 5px;
        border:2px solid $color-white;
       
    }


}