.habilidades{
    display: flex;
    flex-direction: column;
   
    div{
        
        padding: 2px;
        margin: 10px;
        text-align: center;
        background-color:$color-gris2 ;
        border-radius: 5px;
        border:2px solid $color-white;
        z-index: 1;
    }


}