/*--BRRA DE NAVEGAION--*/

nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  

  #check {
    display: none;
    &:checked ~ .nav__menu {
      height: 100vh;
      li {
        display: block;
      }
    }
  }

  .bar__btn {
    font-size: 35px;
    margin-right: 30px;
    cursor: pointer;
    z-index: 3;
    color: $color-white;
    position: fixed;
    background: $color-secundario;
    border-radius: 50% ;
    padding: 0 10px 0 10px;
  }

  .nav__menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 0px;
    
    text-align: center;
    transition: all 0.5s;
    z-index: 2;

    li {
      display: none;
      line-height: 40px;
      margin: 40px 0;
      transition: all 0.5s;
    }
    a {
      color: $color-white;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;

      &.active {
        color:$color-primario;
        transition: 0.5s;
      }

      &:hover {
        color:$color-secundario;
        transition: 0.5s;
      }
    }
  }
}




