main {
  display: flex;
  text-align: center;
  flex-direction: column;
  

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-transform: uppercase;
      font-weight: bold;
    }

    hr {
      border: 1px solid $color-white;
      height: 0;
      width: 300px;
    }

    h2 {
      text-transform: uppercase;
      font-weight: lighter;
    }

    p{
        margin-top: 20px;
        padding: 40px;
        text-align: justify;
        
    }
  }

  .funy {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   

    
    p{
        
        z-index: 1;
        width: 120px;
        height: auto;
        position: absolute; 
         left: 330px;
         bottom: 295px;
        
    }

    .nube{
        width: 200px;
        height: auto;
        position: absolute;
        left: 280px;

    }

    
  }
}
