.intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50px;
    top: 80px;

    .h1_title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 35px;
      text-align: center;
    }

    hr {
      border: 1px solid $color-white;
      height: 0;
      width: 280px;
    }

    .h2_title {
      text-transform: uppercase;
      font-size: 28px;
      font-weight: lighter;
    }
  }

  .container__nube {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 50px;

    .text_nubes {
      font-weight: bold;
      font-family: "Fuzzy Bubbles";
      color: $color-white;
      font-size: 20px;
      z-index: 1;
      width: 160px;
      height: auto;
      position: absolute;
      text-align: center;
      left: 30px;
      top: 140px;
    }

    .nube {
      width: 220px;
      height: auto;
      position: absolute;
      left: 10px;
      top: 120px;
      transform: scaleX(-1);
      opacity: 0.5;
    }

    .avatar {
      width: 100%;
    }
  }
}

#p_intro {
  padding: 40px;
  text-align: justify;
  
}

.color_end {
  color: $color-turqueza;
}

.funy2 {
  @extend .funy;
  > img {
    @extend .avatar;
  }
  > small {
    @extend .text;
    left: 205px;
    bottom: 190px;
  }
  > div {
    @extend .nube;
    left: 160px;
    bottom: 160px;
  }
}

.funy3 {
  @extend .funy;
  > img {
    @extend .avatar;
  }
  > small {
    @extend .text;
    left: 230px;
    bottom: 185px;
  }
  > div {
    @extend .nube;
    left: 180px;
    bottom: 150px;
  }
}

.funy4 {
  @extend .funy;
  > img {
    @extend .avatar;
  }
  > small {
    @extend .text;
    left: 215px;
    bottom: 210px;
  }
  > div {
    @extend .nube;
    left: 170px;
    bottom: 180px;
  }
}

.funy5 {
  @extend .funy;
  > img {
    @extend .avatar;
  }
  > small {
    @extend .text;
    left: 220px;
    bottom: 140px;
  }
  > div {
    @extend .nube;
    left: 170px;
    bottom: 110px;
  }
}
