.intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
  }

  hr {
    border: 1px solid $color-white;
    height: 0;
    width: 300px;
  }

  h2 {
    text-transform: uppercase;
    font-weight: lighter;
  }

  p {
    margin-top: 20px;
    padding: 40px;
    text-align: justify;
  }
}

.funy1 {
  @extend .funy;
  > img {
    @extend .avatar;
  }
  > small {
    @extend .text;
    left: 215px;
    bottom: 180px;
  }
  > div {
    @extend .nube;
    left: 170px;
    bottom: 150px;
  }
}

.funy2 {
  @extend .funy;
  > img {
    @extend .avatar;
  }
  > small {
    @extend .text;
    left: 195px;
    bottom: 150px;
  }
  > div {
    @extend .nube;
    left: 150px;
    bottom: 100px;
  }
}

.funy3 {
  @extend .funy;
  > img {
    @extend .avatar;
  }
  > small {
    @extend .text;
    left: 195px;
    bottom: 150px;
  }
  > div {
    @extend .nube;
    left: 150px;
    bottom: 100px;
  }
}

.funy4 {
  @extend .funy;
  > img {
    @extend .avatar;
  }
  > small {
    @extend .text;
    left: 210px;
    bottom: 165px;
  }
  > div {
    @extend .nube;
    left: 160px;
    bottom: 100px;
  }
}
