#toggle {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: $color-turqueza;
    z-index: 5;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	&::before {
		content: '';
		position: absolute;
		width: 28px;
		height: 2px;
		background: $color-white;
		transform: translateY(-5px);
		transition: 0.2s;
	}
	&::after {
		content: '';
		position: absolute;
		width: 28px;
		height: 2px;
		background:$color-white;
		transform: translateY(5px);
		transition: 0.2s;
	}
}
#toggle.active {
	&::before {
		transform: translateY(0px) rotate(45deg);
	}
	&::after {
		transform: translateY(0px) rotate(-45deg);
	}
}
#sidebar {
	position: fixed;
	top: 0;
	left: -300px;
	width: 300px;
	height: 100vh;
	background: $color-verde;
	transition: 0.5s;
    z-index: 3;
	ul {
		//position: relative;
		margin-top: 50px;
		li {
			display: flex;
			flex-direction: column;
			list-style: none;
			width: 100%;
			&:hover {
				background: $color-turqueza;
			}
			a {
				width: 100%;
				padding: 10px;
				color: $color-white;
				text-decoration: none;
				font-size: 1.3rem;
			}
		}
	}
}
#sidebar.active {
	left: 0px;
}
