.portafolio {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  

  .proyectos {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    align-items: center;
    z-index: 1;

    .img_portafolio {
      display: flex;
      text-align: center;
      
      
      color: $color-white;
      width: 100%;
      
      margin-top: 10px;
      align-items: Center;
      justify-content: center;
      
      

      img {
        width: 100%;
      }
    }

    
  }
}
